# Realizando analise exploratorio

In [1]:
# importando as bibliotecas necessárias

import pandas as pd
import numpy as np

In [3]:
# Importando os dados

df = pd.read_excel('/home/danielpedro/Python/Projetos/SuperStorePY/Dataset/Sample - Superstore.xlsx', sheet_name='Orders')

In [4]:
# Verificando o formato dos dados e se tem dados nulos
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             9994 non-null   int64
 1   Id_Pedido      9994 non-null   object
 2   Data_Pedido    9994 non-null   datetime64[ns]
 3   Data_Envio     9994 non-null   datetime64[ns]
 4   Modo_Envio     9994 non-null   object
 5   Id_Cliente     9994 non-null   object
 6   Nome_Cliente   9994 non-null   object
 7   Segmento       9994 non-null   object
 8   Pais           9994 non-null   object
 9   Cidade         9994 non-null   object
 10  Estado         9994 non-null   object
 11  CE             9994 non-null   int64
 12  Regiao         9994 non-null   object
 13  Id_Produto     9994 non-null   object
 14  Categoria      9994 non-null   object
 15  Sub_Categoria  9994 non-null   object
 16  Nome_Produto   9994 non-null   object
 17  Valor_Venda    9994 non-null   float64
 18  Quantidade     9994 non-null   int64
 19  Desconto       9994 non-null   float64
 20  Lucro          9994 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(13)
memory usage: 1.6+ MB

In [5]:
#  Vereificando o numero de linhas e colunas

df.shape

(9994, 21)

In [6]:
#  Verificando os nomes das colunas

df.columns

Index(['Id', 'Id_Pedido', 'Data_Pedido', 'Data_Envio', 'Modo_Envio',
       'Id_Cliente', 'Nome_Cliente', 'Segmento', 'Pais', 'Cidade', 'Estado',
       'CE', 'Regiao', 'Id_Produto', 'Categoria', 'Sub_Categoria',
       'Nome_Produto', 'Valor_Venda', 'Quantidade', 'Desconto', 'Lucro'],
      dtype='object')

In [7]:
#Verificando as 5 primeiras linhas 

df.head(5)

,Id,Id_Pedido,Data_Pedido,Data_Envio,Modo_Envio,Id_Cliente,Nome_Cliente,Segmento,Pais,Cidade,...,CE,Regiao,Id_Produto,Categoria,Sub_Categoria,Nome_Produto,Valor_Venda,Quantidade,Desconto,Lucro
0,646,CA-2017-126221,2017-12-30,2018-01-05,Standard Class,CC-12430,Chuck Clark,Home Office,United States,Columbus,...,47201,Central,OFF-AP-10002457,Office Supplies,Appliances,Eureka The Boss Plus 12-Amp Hard Box Upright V...,209.300,2,0.0,56.5110
1,907,CA-2017-143259,2017-12-30,2018-01-03,Standard Class,PO-18865,Patrick O'Donnell,Consumer,United States,New York City,...,10009,East,FUR-BO-10003441,Furniture,Bookcases,"Bush Westfield Collection Bookcases, Fully Ass...",323.136,4,0.2,12.1176
2,908,CA-2017-143259,2017-12-30,2018-01-03,Standard Class,PO-18865,Patrick O'Donnell,Consumer,United States,New York City,...,10009,East,TEC-PH-10004774,Technology,Phones,Gear Head AU3700S Headset,90.930,7,0.0,2.7279
3,909,CA-2017-143259,2017-12-30,2018-01-03,Standard Class,PO-18865,Patrick O'Donnell,Consumer,United States,New York City,...,10009,East,OFF-BI-10003684,Office Supplies,Binders,Wilson Jones Legal Size Ring Binders,52.776,3,0.2,19.7910
4,1297,CA-2017-115427,2017-12-30,2018-01-03,Standard Class,EB-13975,Erica Bern,Corporate,United States,Fairfield,...,94533,West,OFF-BI-10002103,Office Supplies,Binders,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",13.904,2,0.2,4.5188

In [8]:
# Verificando as 5 ultimas linhas

df.tail(5)

,Id,Id_Pedido,Data_Pedido,Data_Envio,Modo_Envio,Id_Cliente,Nome_Cliente,Segmento,Pais,Cidade,...,CE,Regiao,Id_Produto,Categoria,Sub_Categoria,Nome_Produto,Valor_Venda,Quantidade,Desconto,Lucro
9989,1760,CA-2014-141817,2014-01-05,2014-01-12,Standard Class,MB-18085,Mick Brown,Consumer,United States,Philadelphia,...,19143,East,OFF-AR-10003478,Office Supplies,Art,Avery Hi-Liter EverBold Pen Style Fluorescent ...,19.536,3,0.2,4.8840
9990,740,CA-2014-112326,2014-01-04,2014-01-08,Standard Class,PO-19195,Phillina Ober,Home Office,United States,Naperville,...,60540,Central,OFF-LA-10003223,Office Supplies,Labels,Avery 508,11.784,3,0.2,4.2717
9991,741,CA-2014-112326,2014-01-04,2014-01-08,Standard Class,PO-19195,Phillina Ober,Home Office,United States,Naperville,...,60540,Central,OFF-ST-10002743,Office Supplies,Storage,SAFCO Boltless Steel Shelving,272.736,3,0.2,-64.7748
9992,742,CA-2014-112326,2014-01-04,2014-01-08,Standard Class,PO-19195,Phillina Ober,Home Office,United States,Naperville,...,60540,Central,OFF-BI-10004094,Office Supplies,Binders,GBC Standard Plastic Binding Systems Combs,3.540,2,0.8,-5.4870
9993,7981,CA-2014-103800,2014-01-03,2014-01-07,Standard Class,DP-13000,Darren Powers,Consumer,United States,Houston,...,77095,Central,OFF-PA-10000174,Office Supplies,Paper,"Message Book, Wirebound, Four 5 1/2"" X 4"" Form...",16.448,2,0.2,5.5512

In [9]:
# Estatísticas descritivas dos dados numéricos

df.describe(exclude='object')

,Id,Data_Pedido,Data_Envio,CE,Valor_Venda,Quantidade,Desconto,Lucro
count,9994.000000,9994,9994,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,2016-04-30 00:07:12.259355392,2016-05-03 23:06:58.571142912,55190.379428,229.858001,3.789574,0.156203,28.656896
min,1.000000,2014-01-03 00:00:00,2014-01-07 00:00:00,1040.000000,0.444000,1.000000,0.000000,-6599.978000
25%,2499.250000,2015-05-23 00:00:00,2015-05-27 00:00:00,23223.000000,17.280000,2.000000,0.000000,1.728750
50%,4997.500000,2016-06-26 00:00:00,2016-06-29 00:00:00,56430.500000,54.490000,3.000000,0.200000,8.666500
75%,7495.750000,2017-05-14 00:00:00,2017-05-18 00:00:00,90008.000000,209.940000,5.000000,0.200000,29.364000
max,9994.000000,2017-12-30 00:00:00,2018-01-05 00:00:00,99301.000000,22638.480000,14.000000,0.800000,8399.976000
std,2885.163629,NaN,NaN,32063.693350,623.245101,2.225110,0.206452,234.260108

In [10]:

df.describe(include='object')

,Id_Pedido,Modo_Envio,Id_Cliente,Nome_Cliente,Segmento,Pais,Cidade,Estado,Regiao,Id_Produto,Categoria,Sub_Categoria,Nome_Produto
count,9994,9994,9994,9994,9994,9994,9994,9994,9994,9994,9994,9994,9994
unique,5009,4,793,793,3,1,531,49,4,1862,3,17,1850
top,CA-2017-100111,Standard Class,WB-21850,William Brown,Consumer,United States,New York City,California,West,OFF-PA-10001970,Office Supplies,Binders,Staple envelope
freq,14,5968,37,37,5191,9994,915,2001,3203,19,6026,1523,48

In [11]:
# verificando se tem dados nulos porém detalhado
df.isna().sum().sort_values(ascending=False)

Id               0
Id_Pedido        0
Data_Pedido      0
Data_Envio       0
Modo_Envio       0
Id_Cliente       0
Nome_Cliente     0
Segmento         0
Pais             0
Cidade           0
Estado           0
CE               0
Regiao           0
Id_Produto       0
Categoria        0
Sub_Categoria    0
Nome_Produto     0
Valor_Venda      0
Quantidade       0
Desconto         0
Lucro            0
dtype: int64

In [12]:
# Caso seja necessário que não foi esse caso 
# Podemos ver o percentual de nulos 
(df.isna().mean() * 100).round(2)

Id               0.0
Id_Pedido        0.0
Data_Pedido      0.0
Data_Envio       0.0
Modo_Envio       0.0
Id_Cliente       0.0
Nome_Cliente     0.0
Segmento         0.0
Pais             0.0
Cidade           0.0
Estado           0.0
CE               0.0
Regiao           0.0
Id_Produto       0.0
Categoria        0.0
Sub_Categoria    0.0
Nome_Produto     0.0
Valor_Venda      0.0
Quantidade       0.0
Desconto         0.0
Lucro            0.0
dtype: float64